.header {
  border-bottom: 1px solid grey;
  margin: auto 5rem;
  padding: 2.5rem;
  display: flex;
  &__logo {
    width: 10%;
    height: 20%;
    margin: auto; 
  }
  &__nav {
    display: flex;
    margin: auto;
    margin-left: 3rem;
    width: 100%;
    &__list {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: grey;
      &-item {
        &:hover {
          border-bottom: 5px solid orange;
          color: black;
        }
      }
    }
  }
  &__client {
    display: flex;
    width: 10%;
    max-height: 10%;
    justify-content: space-between;
    &__caddie {
      padding-top: 10%;
      &>img {
        width: 30px;
      }
    }
    &__profil {
    &>img {
      width: 50px;
      border-radius: 50%;
      border: 2px solid orange;
    }
    }
  }
}
